<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title color="secondary">
      Help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="favorite" [fullscreen]="true">
  <ion-text class="ion-text-center">
    <h1>Sip</h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <h5>This is a drinking game called Sip. Below is a short instruction on 
      how to start playing and what the game is about.</h5>
  </ion-text>
  <ion-text class="ion-text-center">
    <h4>PLAYERS TAB</h4>
  </ion-text>
    <p class="ion-text-center"><ion-text color="tertiary">
      First when starting to play open the "Players" tab and enter name of all the players one by one, 
      You can see that everyone starts with 50 sips.
      <br><br>
      Sips are important part of the game and are increased or decreased depending on tasks.
      First player to reach zero sips wins the game.
      Players with sips left have to finish their sips in a one go.
      <br><br>
      Sips are added by selecting number and pressing - and + buttons. 
      Players can be deleted by pressing the trash can on the left side of the players name.
    </ion-text></p>
      <ion-text class="ion-text-center">
        <h4>TASKS TAB</h4>
      </ion-text>
      <p class="ion-text-center"><ion-text color="tertiary">
        After you have added all the players go to "Tasks" tab and press the reload button 
        in the middle of the screen to get new task on the screen and read it out loud or
        let the text to speech lady do the job if enabled.
        <br><br>
        One or multiple of the players need to take part in the task.
        If task says: "Take X amount of sips" you or other players 
        take sips from drinks and remove sips from your total sips.
        If task says: "Add or give X amount of sips" you add sips to yours or other players total sip count.
        Tasks always mean that someones sips will either decrease or increase.
        <br><br>
        On the bottom right is an option to toggle default and player made tasks on and off.
        There is also toggle to have text to speech on and off for tasks.
      </ion-text></p>
      <ion-text class="ion-text-center">
        <h4>ADD A TASK TAB</h4>
      </ion-text>
      <p class="ion-text-center"><ion-text color="tertiary">
        There is currently only 20 default tasks so if you want to spice things up 
        and got good task ideas you want to add to the game, 
        you can do so in "Add a task" tab
        Just write out the task and press "ADD TASK" button to submit.
        <br><br> 
        You can delete or edit the selfmade tasks if you wish to do so.
        Pressing the trash can opens up delete confirmation 
        and pressing the pen and paper will move the task back to input field for you to edit.
      </ion-text></p>
</ion-content>
