<ion-tabs>
  <ion-tab-bar color="warning" slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="people"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="update()" tab="tab2">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add a task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>