<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title color="secondary">
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite" [fullscreen]="true">
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="getRandoms()">
      <ion-icon name="reload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="relative">
    <ion-text class="ion-text-center">
      <h3>{{randomP}}</h3>
    </ion-text>
      <p class="ion-text-center"><ion-text color="tertiary">{{bothtasks}}</ion-text></p>
    </div>
      <div class="absolute">
      <p>Default tasks <strong>{{donoff}}</strong></p>
      <ion-toggle (click)="defOnOff()" color="tertiary" checked></ion-toggle>
      <p>Player tasks <strong>{{ponoff}}</strong></p>
      <ion-toggle (click)="pOnOff()" color="tertiary" checked></ion-toggle>
      <p>Text to speech <strong>{{ttsonoff}}</strong></p>
      <ion-toggle (click)="ttsOnOff()" color="tertiary"></ion-toggle>
      <br>
      <br>
      <br>
      <br>
      </div>
</ion-content>
