<ion-header [translucent]="true">
  <ion-toolbar color="warning" >
    <ion-title color="secondary">
      Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite" [fullscreen]="true">
  <ion-item lines="full" color="primary">
    <ion-label>Add players here:</ion-label>
    <ion-input placeholder="Name" (keypress)="addPlayer($event)" type="text" [(ngModel)]="newPlayers"></ion-input>
  </ion-item>
  <ion-list lines="full">
    <ion-item color="primary" *ngFor="let player of players;index as i">
      <ion-button slot="start" color="secondary" (click)="deletePlayer(i)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-label  slot="start">{{player.name}} has <strong>{{player.sips}}</strong> sips.</ion-label>
      <!--                                                                                Only characters between 0-9 are allowed-->
      <ion-input placeholder="Sips" type="number" (click)="sipsOpen()" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      [(ngModel)]="newSips"></ion-input>
      <ion-button [disabled]="!open" slot="start" color="secondary" (click)="addSips(i)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!open" slot="start" color="tertiary" (click)="removeSips(i)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
