<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title color="secondary">
      Add a task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite" [fullscreen]="true">
  <ion-item lines="full" color="primary">
    <ion-label position="">Add new tasks here: <br>
      <ion-button slot="start" color="tertiary" (click)="addTask()">
        ADD TASK
      </ion-button>
    </ion-label>
    <!--Could have used ion-textarea here to enable multiline input, but the styling looked better this way-->
    <ion-textarea placeholder="Task" type="text" [(ngModel)]="playertasks"></ion-textarea>
  </ion-item>
  <ion-list lines="full">
    <ion-item color="primary" *ngFor="let task of tasks;index as i">
      <ion-button slot="start" color="secondary" (click)="deleteTask(i)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button slot="start" color="tertiary" (click)="editTask(i)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-label class="ion-text-wrap">{{task.ptasks}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
